<div class="w-full flex items-center gap-8 font-medium bg-background py-3 border border-gray-300 rounded-lg px-5">
    <a routerLink="/posts/foryou" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-thumbs-up"></i> Untuk Kamu</a>
    <a routerLink="/posts/explore" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-plane-departure"></i> Jelajahi</a>
    <a routerLink="/posts/bookmark" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-bookmark"></i> Tersimpan</a>
</div>