<div class="hidden w-full lg:flex items-center gap-8 bg-white/70 py-3 border border-gray-300 rounded-lg px-5 font-medium text-black/80">
    <a routerLink="/posts/foryou" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-thumbs-up"></i> Kamu Banget</a>
    <a routerLink="/posts/explore" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-plane-departure"></i> Jelajahi</a>
    <a routerLink="/posts/bookmark" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-bookmark"></i> Tersimpan ({{savedDataCount}})</a>
</div>

<div class="lg:hidden flex lg:overflow-x-hidden overflow-x-scroll lg:px-5 py-3 rounded-lg gap-4 lg:gap-10 lg:bg-card-grey lg:border-[1px] lg:border-[#3b3b3b] text-white-60 font-normal whitespace-nowrap">
    <a routerLink="/posts/foryou" routerLinkActive="selected" class="border bg-white/70 px-4 py-2 rounded-lg hover:text-main"><i class="uil uil-thumbs-up"></i> Kamu Banget</a>
    <a routerLink="/posts/explore" routerLinkActive="selected" class="border bg-white/70 px-4 py-2 rounded-lg hover:text-main"><i class="uil uil-plane-departure"></i> Jelajahi</a>
    <a routerLink="/posts/bookmark" routerLinkActive="selected" class="border bg-white/70 px-4 py-2 rounded-lg hover:text-main"><i class="uil uil-bookmark"></i> Tersimpan ({{savedDataCount}})</a>
</div>