<div class="w-full flex items-center gap-8 bg-white/70 py-3 border border-gray-300 rounded-lg px-5 font-medium text-black/80">
    <a routerLink="/posts/foryou" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-thumbs-up"></i> Kamu Banget</a>
    <a routerLink="/posts/explore" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-plane-departure"></i> Jelajahi</a>
    <a routerLink="/posts/bookmark" routerLinkActive="selected" class="hover:text-main"><i class="uil uil-bookmark"></i> Tersimpan (0)</a>
</div>