<footer class="py-6 bg-main">
    <div class="grid lg:grid-cols-3 justify-center lg:w-[1150px] mx-auto items-start text-center lg:text-left lg:justify-between px-[5%] lg:p-0">
          <a routerLink="/" class="font-medium text-xl text-background">INTERNSHIT</a>
          <a href="https://x.com/internshit_id" target="_blank" class="hidden lg:block justify-self-center">
                <i class="uil uil-twitter text-xl text-background"></i>
          </a>
          <div class="lg:justify-self-end text-sm text-background flex lg:flex-col gap-6 lg:gap-2 mt-4 lg:mt-0">
                <a target="_blank" routerLink="/terms-of-service">Terms Of Service</a>
                <a target="_blank" routerLink="/privacy-policy">Privacy Policy</a>
          </div>
    </div>
    <p class="text-sm text-background justify-self-end mt-6 lg:mt-2 text-center">© Internshit 2023 - Present, All right reserved</p>
</footer>