<footer class="bg-main">
    <div class="w-[1100px] mx-auto py-12 grid grid-cols-2 justify-between items-center">
        <div class="flex justify-between">
            <div class="flex flex-col gap-2">
                <a routerLink="" class="text-2xl text-background mb-4">Internshits - <span class="text-sm">Platform cari magang</span></a>
                <a routerLink="community" class="text-sm font-medium text-white">Community</a>
                <a target="_blank" href="https://saweria.co/internshits" class="text-sm font-medium text-white">Donate us</a>
            </div>
            <div class="flex flex-col gap-2">
                <a href="" class="invisible text-2xl text-background mb-4">Internshits - <span class="text-sm">Platform cari magang</span></a>
                <a href="terms-of-service" class="text-sm font-medium text-white">Terms of Service</a>
                <a href="privacy-policy" class="text-sm font-medium text-white">Privacy Policy</a>
            </div>
        </div>
        <div class="flex flex-col items-end justify-center">
            <p class="font-medium text-background mb-4">Follow us on social:</p>
            <a href=""><svg class="w-[40px]" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 509.64"><rect width="512" height="509.64" rx="115.61" ry="115.61"/><path fill="#fff" fill-rule="nonzero" d="M323.74 148.35h36.12l-78.91 90.2 92.83 122.73h-72.69l-56.93-74.43-65.15 74.43h-36.14l84.4-96.47-89.05-116.46h74.53l51.46 68.04 59.53-68.04zm-12.68 191.31h20.02l-129.2-170.82H180.4l130.66 170.82z"/></svg></a>
        </div>
    </div>
    <div class="w-[1100px] mx-auto text-sm py-4 text-background">© 2024 by Assami Muzaki</div>
</footer>