<!-- <nav class="bg-main/90 backdrop-blur-md sticky top-0 z-20 shadow-md">
    <div class="w-[1100px] mx-auto flex items-center justify-between py-2">
        <div class="flex gap-20 items-center">
            <a routerLink="/" class="font-bold text-2xl text-background flex items-center gap-2 tracking-wide">INSHIT</a>
            <div class="flex items-center gap-10">
                <a routerLink="community" class="text-sm font-medium text-background">Community</a>
                <a routerLink="community" class="text-sm font-medium text-background">Market</a>
                <a target="_blank" href="https://saweria.co/internshits" class="text-sm font-medium text-background">Donate us</a>
            </div>
        </div>
    
        <div class="flex gap-4">
            @if(IS_VERIFIED){
                <a routerLink="profile" class="border-2 border-gray-50/30 flex items-center gap-4 bg-main text-white noise rounded-lg px-4 py-2 shadow-md">
                    <div class="rounded-full w-9 h-9 bg-background/80 flex items-center justify-center"><i class="uil uil-user-md text-xl text-main"></i></div>
                    <div class="">
                        <p class="text-sm font-medium">Assami Muzaki</p>
                        <p class="text-xs">Visit Profile</p>
                    </div>
                </a>
            }@else {
                <button id="button-login" class="hover:shadow-md duration-300 bg-background text-main px-10 py-1.5 rounded-lg text-sm font-medium">Login</button>
            }
        </div>
    </div>
</nav> -->

<nav class="backdrop-blur-md bg-white/70 sticky top-0 z-20 noise py-2 lg:py-1">
    <div class="lg:w-[1100px] w-full mx-auto flex items-center justify-between px-[5%] lg:px-0">
        <div class="flex gap-14 items-center">
            <a href="/" class="font-bold text-2xl text-main flex items-center gap-2 tracking-wide flex items-center"><img src="assets/img/Favicon.png" class="w-[70px]" alt=""></a>
            <div class="hidden lg:flex items-center gap-10">
                <a href="/posts" class="text-sm font-medium text-thrid hover:text-main">Lowongan</a>
                <a href="/community" class="text-sm font-medium text-thrid hover:text-main">Community</a>
                <a href="/talent" class="text-sm font-medium text-thrid hover:text-main">Talent Hunt</a>
                <a target="_blank" href="https://saweria.co/internshits" class="text-sm font-medium text-thrid hover:text-main">Donate us</a>
            </div>
        </div>
    
        <!-- ON DESKTOP -->
        <div class="hidden lg:flex gap-4">
            <!-- Kalau sudah login -->
            <div id="nav-profile" class="hidden flex items-center gap-8">
                <a href="/profile/bookmark" title="Bookmark" class="group rounded-full flex items-center justify-center"><i class="group-hover:text-main uil uil-bookmark text-black/80 text-2xl"></i></a>
                <a id="add-post" href="/posts/create" title="Add Post" class="hidden group rounded-full flex items-center justify-center"><i class="group-hover:text-main uil uil-file-plus-alt text-black/80 text-2xl"></i></a>
                <a href="/profile/me" class="my-4 flex items-center gap-4 bg-white shadow-md py-2 noise rounded-lg px-4">
                    <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
                    <div class="">
                        <p class="navbar-fullname text-sm font-medium">Assami Muzaki</p>
                        <p class="text-xs">Visit Profile</p>
                    </div>
                </a>
            </div>
            <!-- Kalau belum login -->
            <button (click)="openLoginPanel()" id="button-login" class="my-6 lg:my-4 duration-200 py-1 px-6 text-main text-lg rounded-md font-medium hover:text-main/60">Login</button>
        </div>

        <!-- ON MOBILE -->
        <i (click)="toggleNavbarMobile()" class="uil uil-bars font-bold text-2xl lg:hidden cursor-pointer"></i>
    </div>
</nav>

<div id="popup-navbar" class="hidden w-full bg-white border-b-2 shadow-md noise rounded-b-2xl pb-12 px-[5%] fixed z-[999] backdrop-blur-md">
    <div class="">
        <a id="navbar-profile-mobile" href="/profile/me" class="my-4 w-full border flex text-center items-center gap-4 bg-white shadow-md py-4 noise rounded-lg px-4">
            <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
            <div class="">
                <p class="navbar-fullname font-medium">Assami Muzaki</p>
                <p class="text-sm text-left">Visit Profile</p>
            </div>
        </a>

        <hr class="my-4">

        <div class="flex flex-col gap-3 items-center">
            <a href="/talent" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Talent Hunt <i class="uil uil-angle-right"></i></a>
            <div class="grid grid-cols-2 gap-4 w-full">
                <a href="/community" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Community <i class="uil uil-angle-right"></i></a>
                <a target="_blank" href="https://saweria.co/internshits" class="font-medium hover:text-main border w-full py-4 shadow bg-white border rounded-lg px-4 flex justify-between items-center">Donate Us <i class="uil uil-angle-right"></i></a>
            </div>
            <form id="navbar-logout" action="/api/v1/users/logout" method="post" class="w-full">
                <button type="submit" class="w-full px-4 py-4 text-white rounded-lg shadow-md mt-4 hover:bg-red-600 font-bold text-sm bg-red-500"><i class="uil uil-signout"></i> Logout from this account</button>
            </form>
        </div>


        <div id="navbar-login-mobile" class="w-full">
            <hr class="my-4">
            <div class="w-full google-signin-button" id="login-with-google-mobile"></div>
        </div>
    </div>
</div>

<div id="popup-layer-navbar" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-end lg:items-center justify-center">
    <div id="popup-login" class="hidden w-full lg:w-1/3 bg-background noise rounded-2xl border-2 border-main py-8 px-[5%] lg:px-12 relative">
        <div class="text-center flex flex-col items-center justify-center gap-4">
            <img width="60px" src="assets/img/Logo.png" alt="">
            <p class="text-3xl font-medium text-main">Welcome to Internshit</p>
        </div>
        <hr class="my-4">
        <div id="no-authorized" class="">
            <p class="text-sm text-black/70 text-center">akses lebih banyak fitur keren, dan buka fitur personalisasi lowongan</p>
            
            <div class="w-full flex justify-center">
                <button id="button-google" class="mx-auto mt-4"></button>
            </div>

            <p class="text-xs mt-4 text-center">Dengan melanjutkan, anda menyetujui <a target="_blank" href="/terms-of-service" class="text-main">Terms of Service</a> dan <a target="_blank" class="text-main" href="/privacy-policy">Privacy Policy</a> kami</p>
        </div>

        <button (click)="closeLoginPanel()" class="rounded-full w-10 h-10 flex items-center justify-center absolute top-0 right-0">
            <i class="uil uil-times text-xl"></i>
        </button>
    </div>
</div>