<nav class="bg-main">
    <div class="w-[1200px] mx-auto flex items-center justify-between py-6">
        <a href="" class="font-bold text-2xl text-background">Internshits</a>
    
        <div class="flex items-center font-medium text-sm text-background">
            <a href="" class="px-6">Jobs</a>
            <a href="" class="px-6">Community</a>
        </div>
    
        <div class="">
            <!-- <select name="" id="">
                <option value=""></option>
            </select> -->
            <a href="">
                <button class="hover:shadow-md duration-300 bg-background text-main px-6 py-1.5 rounded-lg text-sm font-medium">Login</button>
            </a>
        </div>
    </div>
</nav>