<nav class="bg-white sticky top-0 z-20 py-2 lg:py-1">
    <div class="lg:w-[1150px] w-full mx-auto flex items-center justify-between px-[5%] lg:px-0">
        <div class="flex gap-14 items-center">
            <a aria-label="home" [routerLink]="IS_LOGIN ? '/posts/foryou' : '/posts/explore'" class="cursor-pointer font-bold text-2xl text-main flex items-center gap-2 tracking-wide flex items-center">
                <img loading="lazy" alt="Logo Internshit" src="assets/img/Favicon.webp" class="w-[70px] h-[53px]" alt="">
            </a>
            <div class="hidden lg:flex items-center gap-10">
                <a [routerLink]="IS_LOGIN ? '/posts/foryou' : '/posts/explore'" 
                   routerLinkActive="selected"
                   [routerLinkActiveOptions]="{ exact: false }"
                   class="cursor-pointer text-sm font-medium text-thrid hover:text-main">
                    Lowongan
                </a>
                <a routerLink="/talent" routerLinkActive="selected" class="text-sm font-medium text-thrid hover:text-main">Talent Hunt</a>
            </div>
        </div>
    
        <!-- ON DESKTOP -->
        <div class="hidden lg:flex gap-4">
            @if(IS_LOGIN){
                <div id="nav-profile" class="flex items-center gap-8">
                    <a routerLink="/profile/me" class="my-2.5 flex items-center gap-4 bg-white shadow-md py-2 noise rounded-lg px-4">
                        <div class="rounded-full w-9 h-9 bg-main flex items-center justify-center"><i class="uil uil-user-md text-xl text-white"></i></div>
                        <div class="" *ngIf="DONE_LOADING_NAVBAR == true">
                            <p class="navbar-fullname text-sm font-medium">{{USER_NAVBAR.firstname}} {{USER_NAVBAR.lastname || ""}}</p>
                            <p class="text-xs">Kunjungi Profil</p>
                        </div>
                    </a>
                </div>
            }@else {
                <button (click)="openLoginPanel()" id="button-login" class="my-6 lg:my-4 duration-200 py-1 px-6 text-main text-lg rounded-md font-medium hover:text-main/60">Login</button>
            }
        </div>

        <!-- ON MOBILE -->
        <i (click)="toggleNavbarMobile()" class="uil uil-bars font-bold text-2xl lg:hidden cursor-pointer"></i>
    </div>
</nav>


<div id="popup-navbar-layer" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-black/50 z-10 flex items-end lg:items-center justify-center h-100"></div>
<div id="popup-navbar" class="hidden w-full bg-white border-b-2 shadow-md noise rounded-b-2xl pb-12 px-[5%] fixed z-[999] backdrop-blur-md">
    <div class="">
        <a *ngIf="DONE_LOADING_NAVBAR" id="navbar-profile-mobile" routerLink="/profile/me" class="my-4 w-full border flex text-center items-center gap-4 bg-main shadow-md py-4 noise rounded-lg px-4">
            <div class="overflow-hidden border-2 rounded-full w-9 h-9 bg-white flex items-center justify-center">
                <img [src]="USER_NAVBAR.profile_picture" onerror="src='assets/img/no-profile.jpg'" alt="Profil Pic">
            </div>
            <div class="">
                <p class="navbar-fullname font-medium text-white">{{USER_NAVBAR.firstname}} {{USER_NAVBAR.lastname}}</p>
                <p class="text-xs text-white/80 text-left text-white">Buka profil</p>
            </div>
        </a>
        <hr>
        <div class="mt-4 flex flex-col gap-3">
            <a [routerLink]="IS_LOGIN ? '/posts/foryou' : '/posts/explore'" class="block py-4 w-full rounded-lg px-4 bg-white shadow flex justify-between items-center">
                <span class="text-sm font-medium text-black/60">Magang</span>
                <span class="text-xs text-black/60">Jelajahi lowongan <i class="uil uil-angle-right"></i></span>
            </a>
            <a routerLink="/talent" class="block py-4 w-full rounded-lg px-4 bg-white shadow flex justify-between items-center">
                <span class="text-sm font-medium text-black/60">Talent Hunt</span>
                <span class="text-xs text-black/60">Lihat talent <i class="uil uil-angle-right"></i></span>
            </a>
        </div>
        <div class="">
            <button *ngIf="IS_LOGIN == true" (click)="buttonLogout()" class="mt-6 w-full py-3 flex items-center gap-2 text-red-500 font-medium rounded-lg justify-center font-second text-sm">
                <i class="uil uil-signout text-xl text-red-500"></i>
                Keluar dari akun ini
            </button>
            <button *ngIf="IS_LOGIN == false" (click)="onGoogleSignIn()" class="mt-6 w-full py-3 flex items-center gap-2 text-main font-medium rounded-lg justify-center font-second text-sm">
                <i class="uil uil-signout text-xl text-main"></i>
                Masuk ke internshit
            </button>
        </div>
    </div>
</div>

<div id="popup-layer-navbar" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/60 z-30 flex items-end lg:items-center justify-center">
    <div id="popup-login" class="hidden w-full lg:w-1/3 bg-background noise rounded-2xl border-2 border-main py-8 px-[5%] lg:px-12 relative">
        <div class="text-center flex flex-col items-center justify-center gap-4">
            <img width="60px" height="60px" src="assets/img/Logo.webp" alt="Logo Internshit">
            <p class="text-3xl font-medium text-main">Selamat datang di <br>Internshit</p>
        </div>
        <hr class="my-4">
        <div id="no-authorized" class="">
            <p class="text-sm text-black/70 text-center">Akses lebih banyak fitur keren, dan personalisasi lowongan dengan melengkapi profil kamu</p>
            
            <div class="w-full flex justify-center">
                <button id="button-google" class="mx-auto mt-4"></button>
            </div>

            <p class="text-xs mt-4 text-center">Dengan melanjutkan, anda menyetujui <a target="_blank" rel="noopener" routerLink="/terms-of-service" class="text-main">Terms of Service</a> dan <a target="_blank" rel="noopener" class="text-main" routerLink="/privacy-policy">Privacy Policy</a> kami</p>
        </div>

        <button (click)="closeLoginPanel()" class="rounded-full w-10 h-10 flex items-center justify-center absolute top-0 right-0">
            <i class="uil uil-times text-xl"></i>
        </button>
    </div>
</div>