<div class="col-span-2 border-r-2 border-gray-300 h-screen overflow-y-scroll py-8 bg-main">
    <div class=" flex flex-col justify-center items-center">
        <img src="assets/img/Logo.png" width="30%" alt="" class="border-2 border-gray-300 rounded-full">
        <p class="text-white font-medium text-xl mt-2">Admin Panel</p>
        <p class="text-white text-sm">Internshit</p>
    </div>
    <hr class="mt-6">
    <div class="w-full flex flex-col text-white">
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/dashboard" class="py-3 w-full px-6 font-medium hover:bg-white/30 flex items-center gap-6 text-lg"><i class="uil uil-create-dashboard"></i>Dashboard</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/posts" class="py-3 w-full px-6 font-medium hover:bg-white/30 flex items-center gap-6 text-lg"><i class="uil uil-postcard"></i>Post</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/users" class="py-3 w-full px-6 font-medium hover:bg-white/30 flex items-center gap-6 text-lg"><i class="uil uil-user"></i>User</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/additionals" class="py-3 w-full px-6 font-medium hover:bg-white/30 flex items-center gap-6 text-lg"><i class="uil uil-parcel"></i>Additional</a>
    </div>
</div>