<section id="navbar" class="relative py-2.5 w-full overlay text-main">
    <div class="flex flex-col items-center justify-center items-center px-5 lg:px-0 lg:w-[1036px] m-auto">
        <a href="" class="font-bold text-3xl tracking-wide pt-4">- INTERNSHIT -</a>
        <p class="font-extrabold text-[32px] mt-2">Privacy Policy</p>
    </div>
</section>

<section class="bg-no-repeat min-h-screen pb-20 text-body">
    <div class="lg:w-[1036px] px-[5%] lg:px-0 m-auto mt-10">
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">1. Introductons</p>
            <p class="ms-8 mt-3 text-white-60">The following Privacy Policy (“Privacy Policy”) describes how Internshit! (“We”) respect and protect every personal data owned by user or visitor (“You”) who access Our site (www.internshit.id) or any other digital service(s) provided and managed by Us (“Platform”).</p>
            <p class="ms-8 mt-3 text-white-60">By using Platform, You (and/or Your parent or legal guardian if You are under 18 years old) agree that You have read and accepted this Privacy Policy which is an integral part of Our Terms and Conditions of Use (“Terms of Use”). You hereby ensure and guarantee that any data provided is valid and correct, and You have the right to provide Us with the data. If necessary and reasonably requested, You agree to provide any proof about the data validity and accuracy. In case of any change in data supplied to Us, You must update Your data by sending a request to Us. You also give permission for Us to collect, use, display, announce, disclose, process, open access, store, send, give, assign, manage, destroy, and protect (“Use”) your data for certain purpose(s) in this Privacy Policy and Terms of Use.</p>
            <p class="ms-8 mt-3 text-white-60">By giving permission, You agree to release Your right for any claim, losses, dispute, or lawsuit that might occur over the Use of Your data in Our system.</p>
        </div>
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">2. Information We Collect</p>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">2.1. Data obtained from You:</p>
                <p class="mt-3 text-white-60">Is data provided by You when filing out electronic form or corresponding with Us, including but not limited to when You:</p>
                <p class="mt-3 ms-6 text-white-60">a. Create an account in Our Platform;</p>
                <p class="mt-3 ms-6 text-white-60">b. Subscribe to any kind of service in Our Platform;</p>
                <p class="mt-3 ms-6 text-white-60">c. Contacting Us, whether by phone, email, website, or other contact details stated in this Privacy Policy;</p>
                <p class="mt-3 ms-6 text-white-60">d. Filling out any survey; and</p>
                <p class="mt-3 ms-6 text-white-60">e. Using Platform services, such as applying to job posts or any service that needs access to Your data.</p>
                <p class="mt-3 text-white-60">Data that You submitted in those activities may include username, email, password, phone number, address, personal description, picture, educational background information, previous work experience, transaction detail, and other data related to the activities above.</p>
            </div>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">2.2. Recorded data:</p>
                <p class="mt-3 text-white-60">Is data that will be collected by Us when You access the Platform, which including but not limited to:</p>
                <p class="mt-3 ms-6 text-white-60">a. Technical information, including IP Address, login information, type and version of the browser used, timezone, real-time geo location; and</p>
                <p class="mt-3 ms-6 text-white-60">b. Visitation info, including the time of your activities on the Platform, complete list of URLs visited, log or data records, product that You have seen or searched on the Platform, transaction data, and phone number or email address You used to contact Our team.</p>
            </div>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">2.3. Obtained data from other sources:</p>
                <p class="mt-3 text-white-60">Is data collected from third parties, such as our partner who helps Us to develop Our service for You, financial service provider, and other public data source.</p>
            </div>
        </div>
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">3. How We Use Your Information</p>
            <p class="ms-8 mt-3 text-white-60">We may utilize or amalgamate the acquired data for the following purposes:</p>
            <p class="ms-14 mt-3 text-white-60">a. Making every reasonable effort to fulfill our obligation to provide you with information, products, and services on our platform;</p>
            <p class="ms-14 mt-3 text-white-60">b. Ensuring that the platform is presented in the most effective way for you;</p>
            <p class="ms-14 mt-3 text-white-60">c. Managing, contacting, and assisting you in resolving any inconvenience, transaction problem, or other difficulties during your access or usage on the platform;</p>
            <p class="ms-14 mt-3 text-white-60">d. Improving our platform service(s);</p>
            <p class="ms-14 mt-3 text-white-60">e. Providing recommendations or information about workshops, competitions, promotions, or any other relevant information for you;</p>
            <p class="ms-14 mt-3 text-white-60">f. Monitoring or investigating any transactions or other suspicious activities that allegedly violate the Terms of Use or applicable laws; and</p>
            <p class="ms-14 mt-3 text-white-60">g. Pursuing other purposes that will be communicated to you by us and in accordance with applicable laws.</p>
        </div>
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">4. Information Sharing</p>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">4.1. Third-Party Services:</p>
                <p class="mt-3 text-white-60">We may share your information with third-party service providers to facilitate our services.</p>
            </div>
        </div>
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">5. Security</p>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">5.1. Security Measures:</p>
                <p class="mt-3 text-white-60">We implement security measures to protect your information, but no method is entirely secure.</p>
            </div>
        </div>
        <div class="mt-6">
            <p class="text-white-80 font-extrabold text-[20px]">6. Changes to the Privacy Policy</p>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">6.1. Ownership:</p>
                <p class="mt-3 text-white-60">We reserve the right to update our Privacy Policy, and any changes will be posted on our platform.</p>
            </div>
        </div>
        <div class="mt-6 mb-16">
            <p class="text-white-80 font-extrabold text-[20px]">7. Contact Information</p>
            <div class="ms-8">
                <p  class="mt-5 text-white-80 font-extrabold">7.1. Contact Us:</p>
                <p class="mt-3 text-white-60">For questions or concerns regarding our Terms and Conditions or Privacy Policy, please contact us at internshit.id&#64;gmail.com.</p>
            </div>
        </div>
    </div>
</section>