<app-navbar></app-navbar>
<main class="noise">
    <div class="min-h-screen lg:w-[1150px] mx-auto py-6 lg:py-10 pb-20 px-[5%] lg:px-0">
        <!-- SUB NAVBAR -->
        <app-post-navbar></app-post-navbar>

        <!-- UNGGULAN POST -->
        <!-- <div class="mt-6">
            <p class="text-2xl font-bold text-main">Lowongan Unggulan</p>
            <p class="text-black/70 mb-3">Lowongan yang tersedia disini, bisa ngasih kamu kesempatan untuk direkrut lebih besar</p>
            <hr>
            <div class="grid grid-cols-3 gap-4 mt-4">
                <div class="job-detail cursor-pointer hover:scale-[1.005] duration-100 shadow-lg border hover:border-main bg-white p-4 rounded-xl flex flex-col justify-between">
                    <div class="">
                        <p class="font-medium text-black mb-2">Junior Software Engineer</p>
                        <div class="flex gap-2 flex-wrap">
                            <button class="text-xs bg-main text-white px-2 py-1 rounded">JavaScript</button>
                            <button class="text-xs bg-main text-white px-2 py-1 rounded">Angular</button>
                            <button class="text-xs bg-main text-white px-2 py-1 rounded">Backend Development</button>
                            <button class="text-xs bg-main text-white px-2 py-1 rounded">Frontend Development</button>
                            <button class="text-xs bg-main text-white px-2 py-1 rounded">+2</button>
                        </div>
                        <div class="flex gap-2 mt-4 items-center">
                            <img src="assets/img/google.png" class="w-[30px] h-[30px]" alt="">
                            <div class="">
                                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i>Google Inc</p>
                                <p class="text-sm flex items-center gap-2 mt-1"><i class="uil uil-location-point"></i>Full-Time • San Francisco</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <hr class="my-2">
                        <div class="flex items-center justify-between gap-3 mt-4">
                            <p class="text-sm flex items-center gap-2">Posted 2 days ago</p>
                            <i class="uil uil-bookmark text-lg"></i>
                        </div>
                    </div>
                </div>          
            </div>
        </div> -->


        <!-- KAMU BGT POST -->
        <div class="mt-6">
            <p class="text-3xl font-bold text-black/80">Rekomendasi Buat Kamu</p>
            <p class="mt-1 text-black/80 mb-3">Lowongan disini kami khususkan buat kamu berdasarkan keahlian yang kamu miliki</p>

            <form [formGroup]="FORM_SEARCH" (submit)="submitFormSearch()" class="flex items-center justify-between gap-4 mt-6">
                <div class="w-full">
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <i class="uil uil-search"></i>
                        </div>
                        <input type="text" formControlName="search" class="duration-200 block w-full py-3 px-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main" placeholder="Cari lowongan atau keyword..." />
                    </div>
                </div>

                <select name="" id="" class="hidden duration-200 lg:block w-[300px] py-3 px-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main">
                    <option value="">Urutkan Berdasarkan Tanggal</option>
                </select>
            </form>

            <div class="">
                @if(IS_LOGIN){
                    @if(POSTS_DATA.length > 0){
                        <div *ngIf="DONE_LOADING == true" class="">
                            <div class="grid lg:grid-cols-3 gap-6 mt-8 pb-14">
                                @for(post of POSTS_DATA; track post.id){
                                    <div (click)="openPostDetail(post.id)" class="job-detail cursor-pointer hover:scale-[1.005] duration-200 shadow-lg border hover:border-main bg-white p-4 rounded-xl flex flex-col justify-between">
                                        <div class="">
                                            <!-- TITLE -->
                                            <div class="flex justify-between items-center">
                                                <p class="font-medium text-black mb-2">{{post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}}</p>
                                                <svg (click)="savePost()" class="hover:fill-main hover:scale-[1.1]" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50">
                                                    <path d="M 12.8125 2 C 12.335938 2.089844 11.992188 2.511719 12 3 L 12 47 C 11.996094 47.359375 12.1875 47.691406 12.496094 47.871094 C 12.804688 48.054688 13.1875 48.054688 13.5 47.875 L 25 41.15625 L 36.5 47.875 C 36.8125 48.054688 37.195313 48.054688 37.503906 47.871094 C 37.8125 47.691406 38.003906 47.359375 38 47 L 38 3 C 38 2.449219 37.550781 2 37 2 L 13 2 C 12.96875 2 12.9375 2 12.90625 2 C 12.875 2 12.84375 2 12.8125 2 Z M 14 4 L 36 4 L 36 45.25 L 25.5 39.125 C 25.191406 38.945313 24.808594 38.945313 24.5 39.125 L 14 45.25 Z"></path>
                                                </svg>
                                            </div>
                                            <!-- SKILLS -->
                                            <div class="flex gap-2 flex-wrap" *ngIf="post.skills && post.skills.length > 0">
                                                <ng-container *ngFor="let skill of getActiveSkills(post.skills)">
                                                    <button class="text-xs bg-main text-white px-2 py-1 rounded">
                                                    {{ skill.skill.length >= 18 ? skill.skill.substring(0, 18) + '..' : skill.skill }}
                                                    </button>
                                                </ng-container>
                                                <button *ngIf="getRemainingSkills(post.skills).length > 0" class="text-xs bg-main text-white px-2 py-1 rounded">
                                                    +{{ getRemainingSkills(post.skills).length }}
                                                </button>
                                            </div>
                                            <!-- ADDITIONAL INFO -->
                                            <p class="text-sm flex items-center gap-2 mt-4 font-medium text-black/70"><i class="uil uil-building"></i>{{post.company.length > 38 ? post.company.substring(0,38) + ".." : post.company}} • {{post.type}}</p>
                                            <p class="text-sm flex items-center gap-2 mt-1"><i class="uil uil-location-point"></i>{{post.location}}</p>
                                        </div>
                                        <div class="">
                                            <hr class="my-2">
                                            <div class="flex items-center justify-between gap-3 mt-4">
                                                <span class="text-[10px] lg:text-xs font-medium px-2 py-0.5 bg-orange-500 text-white">Kamu banget</span>
                                                <div class="flex items-center lg:gap-2 gap-1">
                                                    <p class="text-[10px] lg:text-sm flex items-center gap-2"><span class="text-[11px] font-medium">muncul di</span></p>
                                                    <div [innerHTML]="getPlatformImage(post.platform)"></div>
                                                    <p class="text-[10px] lg:text-sm flex items-center gap-2"><span class="text-[11px] font-medium">{{timeAgo(post.post_date)}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                } 
                            </div>
                            <button (click)="addPage()" *ngIf="SHOW_MORE_BUTTON == true" [disabled]="IS_BUTTON_LOADING == true" class="disabled:opacity-50 shadow-lg hover:scale-[1.01] duration-200 bg-main px-8 py-3 rounded-full text-white w-max block m-auto font-medium flex items-center gap-2">
                                <span class="flex items-center gap-2" *ngIf="IS_BUTTON_LOADING == false">Lebih Banyak <i class="uil uil-angle-down text-xl"></i></span>
                                <span class="flex items-center gap-2" *ngIf="IS_BUTTON_LOADING == true">Loading..</span>
                            </button>
                        </div>
                        <div class="col-span-6 flex flex-col gap-2 items-center justify-center min-h-[40vh]" *ngIf="DONE_LOADING == false">
                            <span class="loader"></span>
                            <p class="text-sm">Menjelajahi lowongan..</p>
                        </div>
                    }@else if (POSTS_DATA.length == 0) {
                        <div class="flex flex-col items-center justify-center min-h-[50vh] text-center">
                            <p class="font-medium text-lg">Belum ada lowongan yang cocok buat kamu nih</p>
                            <p class="text-sm text-black/80">Menambahkan keahlian akan membantu kami merekomendasikan lowongan buat kamu</p>
                            <button routerLink="/posts/explore" class="bg-main text-white px-4 py-2 rounded-md mt-4">Tambahkan Keahlian <i class="uil uil-arrow-right"></i></button>
                        </div>
                    }
                }@else if (IS_LOGIN == false) {
                    <div class="flex flex-col items-center justify-center min-h-[50vh] text-center">
                        <p class="font-medium text-lg">Kamu belum punya profil ya?</p>
                        <p class="text-sm text-black/80">Ayo buat profil kamu, biar kami bisa kasih rekomendasi lowongan khusus buat kamu</p>
                        <button (click)="openLoginPanel()" class="bg-main text-white px-4 py-2 rounded-md mt-4">Buat Profil <i class="uil uil-arrow-right"></i></button>
                    </div>
                }
            </div>
        </div>
        
        <!-- <div class="flex flex-col items-center justify-center min-h-[50vh] text-sm">
            <p class="text-4xl text-main font-medium">#404</p>
            <div class="mt-3 text-center flex flex-col items-center justify-center">
                <p class="text-base">belum ada lowongan yang <span class="text-orange-500 font-medium">kamu banget</span> nih ☹️</p>
                <img src="assets/img/Kamubanget.png" width="250px" alt="" class="my-10">
                <div class="flex gap-2 mt-6 items-center">
                    <a routerLink="/posts/explore" class="text-white bg-main px-4 py-2 rounded-lg"><i class="uil uil-plane-departure"></i> Cari Lowongan Lain</a>
                    <hr>
                    <a routerLink="/profile/me" class="text-white bg-main px-4 py-2 rounded-lg"><i class="uil uil-basketball"></i> Tambahkan Keahlian</a>
                </div>
            </div>
        </div> -->
    </div>
</main>
