<app-navbar></app-navbar>
<main class="noise">
    <div class="min-h-screen lg:w-[1150px] mx-auto pb-20 px-[5%] mt-8 lg:px-0 grid grid-cols-8 gap-8">

        <!-- SIDEBAR -->
        <div class="lg:col-span-2 bg-white border rounded-xl sticky top-[6rem]">
            <form id="form-market-filter" class="flex flex-col items-center gap-4 py-6 px-4">
                <div class="w-full flex flex-col gap-4 w-full">
                    <div class="pb-4 flex justify-between w-full">
                        <p class="text-sm text-black/70 font-medium">FILTER</p>
                        <button id="clear-filter" class="text-xs text-orange-500 font-bold">CLEAR</button>
                    </div> 
                    <!-- <label for="" class="">SEARCH</label> -->
                    <!-- <p class="text-sm font-medium text-main">BY INFORMASI BASIC ---</p> -->
                    <!-- FILTER BY TIPE PEKERJAAN -->
                    <div class="">
                        <button type="button" (click)="expandSidebar(sidebarGender)" #sidebarGender class="w-full flex items-center justify-between py-2">
                            <p>Jenis Kelamin</p>
                            <i class="uil uil-angle-down"></i>
                        </button>
                        <div class="hidden mt-1 flex flex-col gap-2 overflow-y-scroll max-h-[150px]">
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="Male" class="rounded outline-none focus:ring-0">
                                <label for="Male">Laki Laki</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="Female" class="rounded outline-none focus:ring-0">
                                <label for="Female">Perempuan</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- FILTER BY TIPE PEKERJAAN -->
                    <div class="">
                        <button type="button" (click)="expandSidebar(sidebarPrefJob)" #sidebarPrefJob class="w-full flex items-center justify-between py-2">
                            <p>Prefrensi Pekerjaan</p>
                            <i class="uil uil-angle-down"></i>
                        </button>
                        <div class="hidden mt-1 flex flex-col gap-2 overflow-y-scroll max-h-[150px]">
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFO" class="rounded outline-none focus:ring-0">
                                <label for="WFO">Work From Office</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFH" class="rounded outline-none focus:ring-0">
                                <label for="WFH">Work From Home</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFA" class="rounded outline-none focus:ring-0">
                                <label for="WFA">Work From Anywhere</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>
                <div class="flex flex-col gap-4 w-full">
                    <!-- <p class="text-sm font-medium text-main">BY PENDIDIKAN ---</p> -->
                    <!-- FILTER BY TIPE PEKERJAAN -->
                    <div class="">
                        <button type="button" (click)="expandSidebar(sidebarPrefJob)" #sidebarPrefJob class="w-full flex items-center justify-between py-2">
                            <p>Institusi</p>
                            <i class="uil uil-angle-down"></i>
                        </button>
                        <div class="hidden mt-1 flex flex-col gap-2 overflow-y-scroll max-h-[150px]">
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFO" class="rounded outline-none focus:ring-0">
                                <label for="WFO">Work From Office</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFH" class="rounded outline-none focus:ring-0">
                                <label for="WFH">Work From Home</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFA" class="rounded outline-none focus:ring-0">
                                <label for="WFA">Work From Anywhere</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- FILTER BY TIPE PEKERJAAN -->
                    <div class="">
                        <button type="button" (click)="expandSidebar(sidebarPrefJob)" #sidebarPrefJob class="w-full flex items-center justify-between py-2">
                            <p>Level Pendidikan</p>
                            <i class="uil uil-angle-down"></i>
                        </button>
                        <div class="hidden mt-1 flex flex-col gap-2 overflow-y-scroll max-h-[150px]">
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFO" class="rounded outline-none focus:ring-0">
                                <label for="WFO">Work From Office</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFH" class="rounded outline-none focus:ring-0">
                                <label for="WFH">Work From Home</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFA" class="rounded outline-none focus:ring-0">
                                <label for="WFA">Work From Anywhere</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- FILTER BY TIPE PEKERJAAN -->
                    <div class="">
                        <button type="button" (click)="expandSidebar(sidebarPrefJob)" #sidebarPrefJob class="w-full flex items-center justify-between py-2">
                            <p>Nilai atau IPK</p>
                            <i class="uil uil-angle-down"></i>
                        </button>
                        <div class="hidden mt-1 flex flex-col gap-2 overflow-y-scroll max-h-[150px]">
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFO" class="rounded outline-none focus:ring-0">
                                <label for="WFO">Work From Office</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFH" class="rounded outline-none focus:ring-0">
                                <label for="WFH">Work From Home</label>
                            </div>
                            <div class="flex items-center gap-2 text-sm">
                                <input type="checkbox" name="" id="WFA" class="rounded outline-none focus:ring-0">
                                <label for="WFA">Work From Anywhere</label>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>
            </form>
        </div>

        <!-- CARDS -->
        <div *ngIf="DONE_LOADING == true" class="lg:col-span-6 overflow-y-scroll px-1">
            
            <div id="off-login" class="my-4">
                <p class="text-black/60">Pamerkan betapa kerennya dirimu, untuk membuat <b>orang lain</b> & <b>recruiter</b> tertarik terhadap profilemu</p>
                <button id="button-create-card" class="text-white font-medium text-sm bg-main rounded-lg mt-4 px-6 py-2">Buat kartu kamu sendiri !</button>
            </div>

            
            <div class="flex justify-between items-center py-4 mt-2 lg:mt-0">
                <p class="text-2xl font-medium text-main"><i class="uil uil-user-md"></i> Menampilkan {{ACTIVE_USER_COUNT}} Talent</p>
                <button id="button-filter" class="lg:hidden shadow-md w-10 rounded-full h-10 bg-main text-white font-medium"><i class="uil uil-sliders-v"></i></button>
            </div>

            <hr class="border-gray-300">

            <div class="flex items-center mt-4">
                <form class="w-full">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <i class="uil uil-search"></i>
                        </div>
                        <input type="search" formControlName="search" class="duration-200 hover:shadow-lg block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-l-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main" placeholder="Cari lowongan atau keyword..." required />
                        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-main/80 focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cari <i class="uil uil-arrow-right"></i></button>
                    </div>
                </form>
                <form class="w-full">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <i class="uil uil-university"></i>
                        </div>
                        <input type="search" formControlName="search" class="duration-200 hover:shadow-lg block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-r-lg bg-gray-50 focus:ring-main focus:border-main dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main" placeholder="Cari program atau jurusan..." required />
                        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-main/80 focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cari <i class="uil uil-arrow-right"></i></button>
                    </div>
                </form>
            </div>
            <!-- <p class="text-2xl font-medium">Showing 40 Talent</p> -->
            <div id="cards" class="grid lg:grid-cols-2 gap-6 mt-8">
                @for(user of ACTIVE_USER; track user.id){
                    <div class="card-user flex flex-col lg:flex-row gap-5 rounded-2xl border hover:border-main p-5 bg-white shadow-lg hover:scale-[1.005] duration-100 cursor-pointer">
                        <div class="w-full">
                            <div class="flex items-center gap-2 pb-2.5">
                                <div class="w-[70px] max-w-[70px] h-[70px] min-w-[70px] min-h-[70px] rounded-full overflow-hidden mx-auto lg:mx-0">
                                    <img id="basic-profile-pic" [src]="user.profile_picture" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                                </div>
                                <div class="mb-2 w-full">
                                    <p id="basic-fullname" class="font-bold text-xl text-main">{{user.firstname}} {{user.lastname  ? user.lastname : ""}}</p>
                                    <p id="basic-current-position" class="text-sm text-thrid/60 font-medium mb-1">{{user.headline}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="flex flex-col justify-between h-max">
                                <div class="flex gap-2 mt-3 flex-wrap">
                                    <div class="flex gap-2 flex-wrap" *ngIf="user.skills && user.skills.length > 0">
                                        <ng-container *ngFor="let skill of getActiveSkills(user.skills)">
                                            <button class="text-xs bg-main text-white px-2 py-1 rounded">
                                            {{ skill.skill.length >= 18 ? skill.skill.substring(0, 18) + '..' : skill.skill }}
                                            </button>
                                        </ng-container>
                                        <button *ngIf="getRemainingSkills(user.skills).length > 0" class="text-xs bg-main text-white px-2 py-1 rounded">
                                            +{{ getRemainingSkills(user.skills).length }}
                                        </button>
                                    </div>
                                </div>
                                <div class="pt-2 justify-self-end">
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-university"></i><span class="ms-2">{{user.educations.length > 0 ? user.educations[0].edu_type + " • " + user.educations[0].edu_program + " • " + user.educations[0].edu_institution : "Pendidikan belum ditambahkan"}}</span></p>
                                    <p class="text-sm flex items-center mt-2"><i class="uil uil-bag-alt"></i><span class="ms-2">{{user.experiences.length > 0 ? user.experiences[0].exp_position + " • " + user.experiences[0].exp_orgname : "Pengalaman belum ditambahkan"}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
    </div>
</main>