<main>
    <div class="min-h-screen w-[1200px] mx-auto py-12">
        <div class="my-6 grid grid-cols-2 items-center">
            <p class="font-medium text-xl text-thrid"><span class="text-4xl font-semibold">Temukan Tempat Magang</span><br>dari Semua Penjuru Platform</p>

            <div class="grid grid-cols-3 mt-8 gap-4">
                <div class="bg-main px-6 py-6 text-background rounded-md font-medium">
                    <p>Total Post: 120</p>
                </div>
                <div class="bg-main px-6 py-6 text-background rounded-md font-medium">
                    <p>Total Post: 120</p>
                </div>
                <div class="bg-main px-6 py-6 text-background rounded-md font-medium">
                    <p>Total Post: 120</p>
                </div>
            </div>
        </div>


        <div class="flex items-center gap-4 mt-12">
            <form class="w-[30%]">   
                <div class="relative">
                    <input type="search" id="default-search" class="block w-full p-4 ps-6 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-main focus:border-main" placeholder="Search Mockups, Logos..." required />
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-main/90 focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-full text-sm px-4 py-2"><i class="uil uil-search"></i></button>
                </div>
            </form>
            <button class="text-2xl bg-white rounded-xl w-12 h-12 border-gray-300 border text-thrid"><i class="uil uil-sliders-v"></i></button>
        </div>

        <div id="cards" class="grid grid-cols-4 mt-8 gap-4">
            <a href="#" class="bg-white p-4 rounded-lg">
                <p class="font-bold text-thrid">Management Training</p>
                <p class="text-sm text-second">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span>Isurance</span> • <span>Jakarta Barat</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in<span>Jobstreet</span></p>
            </a>
            <a href="#" class="bg-white p-4 rounded-lg">
                <p class="font-bold text-thrid">Management Training</p>
                <p class="text-sm text-second">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span>Isurance</span> • <span>Jakarta Barat</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in<span>Jobstreet</span></p>
            </a>
            <a href="#" class="bg-white p-4 rounded-lg">
                <p class="font-bold text-thrid">Management Training</p>
                <p class="text-sm text-second">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span>Isurance</span> • <span>Jakarta Barat</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in<span>Jobstreet</span></p>
            </a>
            <a href="#" class="bg-white p-4 rounded-lg">
                <p class="font-bold text-thrid">Management Training</p>
                <p class="text-sm text-second">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span>Isurance</span> • <span>Jakarta Barat</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in<span>Jobstreet</span></p>
            </a>
            <a href="#" class="bg-white p-4 rounded-lg">
                <p class="font-bold text-thrid">Management Training</p>
                <p class="text-sm text-second">PT UOB</p>
                <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                <hr class="my-2">
                <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span>Isurance</span> • <span>Jakarta Barat</span></p>
                <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in<span>Jobstreet</span></p>
            </a>
        </div>

    </div>
</main>