<main class="noise">
    <div class="min-h-screen w-[1200px] mx-auto py-20 pb-20">
        <div class="my-6 grid grid-cols-4 items-center">
            <div class="col-span-3">
                <p class="font-medium text-second/80 text-lg"><span class="text-thrid text-[55px] font-bold">Temukan Tempat Magang</span><br>dari Semua Penjuru Platform</p>
                <div class="flex items-center gap-4 mt-6 py-2 rounded-lg w-max">
                    <a href="https://glints.com/id/en"><img src="assets/images/Glints.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://id.indeed.com/"><img src="assets/images/Indeed.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.jobstreet.co.id/"><img src="assets/images/Jobstreet.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.kalibrr.com/home"><img src="assets/images/Kalibrr.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.linkedin.com/jobs/"><img src="assets/images/Linkedin.png" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <p class="text-sm font-medium self-end">,etc..</p>
                </div>
            </div>

            <div class="col-span-1 mt-8 gap-4">
                <div class="bg-background/80 px-6 py-6 text-thrid border border-2 shadow-md rounded-md font-medium">
                    <p class="flex items-center gap-2"><span class="text-2xl font-semibold">{{TOTAL_POST}}</span>pekerjaan di posting</p>
                </div>
            </div>
        </div>


        <div class="flex items-center gap-4 mt-12">
            <form class="w-[30%]">   
                <div class="relative">
                    <input type="search" id="default-search" class="block w-full p-4 ps-6 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-main focus:border-main" placeholder="Search title, company, location..." required />
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-main hover:bg-main/90 focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-full text-sm px-4 py-2"><i class="uil uil-search"></i></button>
                </div>
            </form>
            <button class="text-2xl bg-white rounded-xl w-12 h-12 border-gray-300 border text-thrid"><i class="uil uil-sliders-v"></i></button>
        </div>

        <div id="cards" class="grid grid-cols-3 mt-8 gap-4">
            @for(post of POST_DATAS; track post.id){
                <a href="{{post.link}}" class="hover:scale-[1.005] duration-100 shadow-md border bg-white p-4 rounded-lg self-start">
                    <p class="font-bold text-black">{{post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}}</p>
                    <p class="text-sm text-second">PT UOB</p>
                    <p class="text-xs px-2 bg-main w-max mt-2 rounded-sm mb-4 text-background">INTERNSHIP</p>
                    <hr class="my-2">
                    <p class="text-sm flex items-center gap-2"><i class="uil uil-building"></i> <span class="font-medium">{{post.tags}}</span> • <span>{{post.location}}</span></p>
                    <p class="text-sm flex items-center gap-2"><i class="uil uil-bag"></i>in {{post.platform}}</p>
                </a>
            }
        </div>


        <!-- PAGINATION -->
        <div class="flex flex-col items-center mt-12">
            <span class="text-sm text-gray-700 dark:text-gray-400">
                Showing <span class="font-semibold text-gray-900 dark:text-white">1</span> to <span class="font-semibold text-gray-900 dark:text-white">{{POST_LIMIT}}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{TOTAL_POST}}</span> Entries
            </span>
            <div class="inline-flex mt-2 xs:mt-0 gap-4">
                <button class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-main rounded-lg hover:bg-gray-900">
                    Prev
                </button>
                <button class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-main border-0 border-s border-gray-700 rounded-lg hover:bg-gray-900">
                    Next
                </button>
            </div>
        </div>

    </div>
</main>