<app-navbar></app-navbar>

<main class="noise">
    <div class="min-h-screen lg:w-[1100px] mx-auto py-6 lg:py-10 pb-12 px-[5%] lg:px-0">

        <!-- HERO -->
        <div class="my-6 grid items-center justify-center text-center">
            <div class="">
                <p class="text-thrid/90 leading-tight text-[28px] text-center lg:text-[55px] font-bold">Temuin <span class="">Intern</span> Kamu</p>
                <p class="font-medium text-second/80 lg:text-lg text-center pt-2">dari semua penjuru platform</p>
                <div class="flex items-center mx-auto gap-4 mt-4 py-2 rounded-lg w-max">
                    <p class="font-medium text-xl"><i class="uil uil-arrow-left"></i></p>
                    <a href="https://glints.com/id/en"><img src="assets/img/Glints.webp" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://id.indeed.com/"><img src="assets/img/Indeed.webp" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.jobstreet.co.id/"><img src="assets/img/Jobstreet.webp" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.kalibrr.com/home"><img src="assets/img/Kalibrr.webp" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <a href="https://www.linkedin.com/jobs/"><img src="assets/img/Linkedin.webp" class="rounded-lg hover:scale-[1.1] duration-300" width="30px" alt=""></a>
                    <p class="font-medium text-xl"><i class="uil uil-arrow-right"></i></p>
                </div>
            </div>
        </div>


        <!-- SEARCH BAR -->
        <div id="search-bar" class="mt-12">
            <form [formGroup]="FORM_SEARCH" (submit)="submitFormSearch()" class="flex items-center gap-4">   
                <div class="w-full relative">
                    <input type="text" formControlName="search" id="input-search" value="" class="hover:shadow-lg focus:shadow-lg block w-full p-4 py-3 ps-6 font-medium text-gray-900 border border-gray-300 rounded-2xl bg-gray-50 focus:ring-main focus:border-main" placeholder="Super search, cari lowongan.." />
                    <button type="submit" class="text-main absolute end-2.5 bottom-2 focus:outline-none focus:ring-main font-medium rounded-full text-sm px-5 py-2"><i class="uil uil-search"></i></button>
                </div>
            </form>
        </div>

        <div class="" *ngIf="DONE_LOADING == true">
            <!-- Kalau post lebih dari 0, AKA ada post di list -->
            @if(POST_DATAS.length > 0){
                <div id="cards" class="grid lg:grid-cols-3 mt-8 gap-4">
                    @for (post of POST_DATAS; track post.id) {
                        <div (click)="openPostDetail(post.id)" class="job-detail cursor-pointer hover:scale-[1.005] duration-100 shadow-md border border-main bg-white p-4 rounded-2xl flex flex-col justify-between">
                            <div class="">
                                <!-- TITLE -->
                                <p class="font-medium text-black mb-2">{{post.title.length > 33 ? post.title.substring(0,33)+"..." : post.title}}</p>
                                <!-- SKILLS -->
                                <div class="flex gap-2 flex-wrap" *ngIf="post.skills && post.skills.length > 0">
                                    <ng-container *ngFor="let skill of getActiveSkills(post.skills)">
                                      <button class="text-xs bg-main text-white px-2 py-1 rounded">
                                        {{ skill.skill.length >= 18 ? skill.skill.substring(0, 18) + '..' : skill.skill }}
                                      </button>
                                    </ng-container>
                                    <button *ngIf="getRemainingSkills(post.skills).length > 0" class="text-xs bg-main text-white px-2 py-1 rounded">
                                      +{{ getRemainingSkills(post.skills).length }}
                                    </button>
                                </div>
                                <!-- ADDITIONAL INFO -->
                                <p class="text-sm flex items-center gap-2 mt-4"><i class="uil uil-building"></i>{{post.company.length > 38 ? post.company.substring(0,38) + ".." : post.company}}</p>
                                <p class="text-sm flex items-center gap-2 mt-1"><i class="uil uil-location-point"></i> {{post.type}} • {{post.location}}</p>
                            </div>
                            <div class="">
                                <hr class="my-2">
                                <div class="flex items-center justify-between gap-3 mt-4">
                                    <span class="hidden text-white text-xs font-medium bg-orange-500 px-2 py-1">kamu banget</span>
                                    <div class="flex items-center gap-2 ms-auto">
                                        <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">muncul di</span></p>
                                        <div [innerHTML]="getPlatformImage(post.platform)"></div>
                                        <p class="text-sm flex items-center gap-2"><span class="text-[11px] font-medium">{{timeAgo(post.post_date)}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }@else {
                <div class="flex flex-col items-center justify-center min-h-[50vh] text-sm">
                    <img width="100px" src="assets/img/Logo.webp" alt="">
                    <div class="mt-3 text-center">
                        <p>waduh, yang kamu cari belum ada</p>
                        <a routerLink="/" class="text-main">cari lowongan lain</a>
                    </div>
                </div>
            }
    
            <!-- Kalau post length == 0 -->
            <div id="cards-notfound" class="hidden mt-8 h-[60vh] flex items-center justify-center flex-col">
                <img src="assets/img/magnify.webp" width="10%" alt="">
                <p class="font-medium text-base text-center mt-8">post tidak ditemukan..</p>
            </div>    
        </div>

        <div class="flex flex-col gap-2 items-center justify-center min-h-[50vh]" *ngIf="DONE_LOADING == false">
            <span class="loader"></span>
            <p class="text-sm">Mencari Lowongan..</p>
        </div>        
    </div>

    <!-- TALENT HUNT -->
    <div class="min-h-[30vh] lg:w-[1100px] mx-auto lg:py-14 pb-14 px-[5%] lg:px-0 flex flex-col items-center lg:items-start">
        <p class="text-3xl font-bold text-main">Talent Hunt</p>
        <p class="text-black/80 mt-2 flex items-center gap-2"><i class="uil uil-info-circle"></i> Tempat pamer kebolehan kamu</p>

        <div class="w-full grid lg:grid-cols-3 mt-6 overflow-hidden noise">
            <div class="lg:col-span-2">
                <img class="rounded-xl border-2 border-main" src="assets/img/Talent-hunt.webp" alt="">
            </div>
            <div class="lg:py-12 lg:px-6 lg:p-5 mt-4 lg:mt-0 text-main">
                <p class="text-xl text-center lg:text-left lg:text-2xl font-semibold">Bergabung di Talent Hunt Internshit!</p>
                <p class="text-black/70 text-center lg:text-left mt-3">Tempat para recruiter keren bisa nemuin kamu. Daftar sekarang, dan tunjukin semua keahlian kamu!</p>
                <a routerLink="/talent" class="flex font-medium items-center justify-center py-3 rounded-md w-full bg-main text-white mt-8 lg:mt-6 flex items-center gap-2"><i class="uil uil-arrow-left"></i> Gabung jadi talent</a>
            </div>
        </div>
    </div>
</main>

<div *ngIf="DONE_LOADING == true" class="hidden fixed top-0 bottom-0 right-0 left-0 bg-black/50 flex items-end lg:items-center justify-end lg:justify-center z-30" id="popup-home">
    <div id="popup-detail-job" class="hidden border-2 border-main popup w-full lg:w-1/2 bg-background noise rounded-t-2xl lg:rounded-3xl overflow-hidden">
        <div class="h-[85vh] lg:h-[500px] overflow-y-scroll lg:px-8 p-5 pb-20 py-8 relative ">
            <div *ngIf="DONE_LOADING_DETAIL == true">
                <button (click)="closePopupDetail()" type="button" class="lg:hidden my-4 mb-6 flex items-center gap-2 close-x text-main font-medium text-base">
                    <i class="uil uil-arrow-left"></i> Kembali ke Beranda
                </button>
    
                <!-- MAIN INFO -->
                <div class="w-full">
                    <div class="grid lg:grid-cols-3 items-start">
                        <p class="col-span-2 text-2xl font-bold text-main mb-4">{{POST_DATAS_DETAIL.title}}</p>
                        <button (click)="closePopupDetail()" class="hidden lg:block justify-self-end font-medium text-2xl"><i class="uil uil-multiply"></i></button>
                    </div>
                    <p class="flex gap-2 items-center text-black/70"><i class="uil uil-building"></i><span>{{POST_DATAS_DETAIL.company}}</span></p>
                    <p class="flex gap-2 items-center text-black/70 mt-1"><i class="uil uil-map-marker-alt"></i> <span>{{POST_DATAS_DETAIL.location}}</span></p>
                    <div class="flex gap-4 items-center mt-4 ">
                        <a id="popup-link" [href]="POST_DATAS_DETAIL.link" target="_blank" class="w-max px-8 block py-2.5 self-start rounded-lg text-sm font-medium bg-main text-white shadow-md hover:scale-[1.01]"><i class="uil uil-external-link-alt"></i> Buka di <span id="popup-platform">Jobstreet</span></a>
                    </div>
                </div>
    
                
                <div *ngIf="POST_DATAS_DETAIL.skills.length > 0" id="skills-need" class="justify-self-start">
                    <hr class="my-4">
                    <p class="font-medium text-black/70">Keahlian yang dibutuhkan</p>
                    <div class="flex gap-3 mt-4 flex-wrap" *ngIf="POST_DATAS_DETAIL.skills && POST_DATAS_DETAIL.skills.length > 0">
                        <ng-container *ngFor="let skill of POST_DATAS_DETAIL.skills">
                          <button class="text-sm self-start bg-main text-white px-2.5 py-1.5 rounded-md">
                            {{ skill.skill }}
                          </button>
                        </ng-container>
                    </div>
                </div>
                
                <hr class="my-4">
    
                <div *ngIf="POST_DATAS_DETAIL.overview.length > 8">
                    <p class="text-black/60 font-bold mt-4 text-xl">Ringkasan Pekerjaan</p>
                    <p id="popup-overview" class="mt-4 text-black/70 no-tailwind" [innerHTML]="POST_DATAS_DETAIL.overview"></p>
                </div>
            </div>
            <div class="flex flex-col gap-2 items-center justify-center h-full" *ngIf="DONE_LOADING_DETAIL == false">
                <span class="loader"></span>
                <p class="text-sm">Menyusun Data Lowongan..</p>
            </div>
        </div>
    </div>
</div>