<div class="hidden lg:block px-0 h-screen py-8 bg-main">
    <div class="flex gap-4 items-center px-10">
        <img src="assets/img/Logo.webp" width="70px" alt="logo" class="border-2 border-gray-300 rounded-full">
        <div class="">
            <p class="text-white font-medium text-xl">Admin Panel</p>
            <p class="text-white text-sm">Internshit</p>
        </div>
    </div>
    <div class="w-full flex flex-col text-white mt-8">
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/dashboard" class="py-3 ps-6 ms-6 font-medium flex items-center gap-6"><i class="uil uil-create-dashboard"></i>Dashboard</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/posts" class="py-3 ps-6 ms-6 font-medium flex items-center gap-6"><i class="uil uil-postcard"></i>Post</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/users" class="py-3 ps-6 ms-6 font-medium flex items-center gap-6"><i class="uil uil-user"></i>User</a>
        <a routerLinkActive="selected-admin-nav" routerLink="/admin/additionals" class="py-3 ps-6 ms-6 font-medium flex items-center gap-6"><i class="uil uil-parcel"></i>Additional</a>
    </div>
</div>